table {
  width: 90%;
  img{
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
  }
  td{
    padding-top: 8px;
    padding-bottom: 5px;
  }
  a{
    text-decoration: none;
    color: #492aa7;
  }
  button{
    border: none;
    background-color: transparent;
    color: #492aa7;
  }

}
.modal{
  display: block;
}
