<div class="Home">
  <div class="Titulo">
    <p>¡Bienvenido, Jefe!</p>
  </div>
  <h2>Descubre, crea, diviértete</h2>
  <div class="Intro">

    <div class="Busqueda">
      <input
        type="search"
        class="form-control"
        placeholder="¿Quieres buscar un grupo?"
      />
      <button class="btn btn-lg btn-success" type="submit">
        <span class="material-icons">search</span>
      </button>

    </div>
    <p>
      ¡Eh, jefe! ¡Tu lista está completa! Puedes buscar los grupos por su nombre
      o fecha de creación, ver sus fichas y sus canciones. También he añadido
      una sección de canciones exclusivamente, donde puedes ver un listado de
      todas las canciones con el nombre del artista que la interpreta. ¡Ah, y
      puedes añadir nuevos grupos! ¡Que la disfrutes!
    </p>
  </div>
</div>
