<div class="Detail">
  <div class="up">
    <h1>{{ name }}</h1>
    <div class="row first">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="{{ photo }}" alt="" />
        <p class="year">Creado en: {{ formatDate(foundationdate) }}</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2>{{ name }}</h2>
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
  <div class="row second">
    <div *ngFor="let song of songs" class="col-sm-12 col-md-6 col-lg-6">
      <p class="year">{{ song.name }}</p>
      <div class="embed-responsive">
        <iframe
          class="embed-responsive-item"
          [src]="sanitizer.bypassSecurityTrustResourceUrl(song.link)"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
